<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://cv.uoc.edu/UOC/GEF/gef/gef.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body ng-app="myApp">
<div class="container" ng-controller="AppController">
    <div class="page-header">
        <h1>A checklist v1.4</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
        There are no items yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addItem(newItem)">
        <div class="form-group" ng-repeat="item in items">
            <div class="checkbox col-xs-9">
                <label>
                    <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
                </label>
            </div>
            <div class="col-xs-3">
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteItem(item)">
                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <hr />
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
              <!--<span class="glyphicon glyphicon-plus"></span>-->
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </span>
        </div>
    </form>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/controllers.js"></script>
<script type="text/javascript" src="app/services.js"></script>
<script type="text/javascript" src="https://cv.uoc.edu/UOC/GEF/gef/js/gef.min.js"></script>
</body>
</html>